.ml-9{
  margin-left: 9px;
}

.ml-10{
  margin-left: 10px;
}

.card_header{
  background-color: #EC5990 !important;
  text-align: center;
}

.bt-9{
    padding-top: 9px;
}

.bp-9{
    padding-bottom: 9px;
}

.form_type{
   text-transform: capitalize;
}