.ml-9{
  margin-left: 9px;
}

.ml-10{
  margin-left: 10px;
}

.card_header{
  background-color: #EC5990 !important;
  text-align: center;
}

.bt-9{
    padding-top: 9px;
}

.bp-9{
    padding-bottom: 9px;
}

.form_type{
   text-transform: capitalize;
}

.card_title{
  color: red;
}

.register{
  margin-top: 10px;
  font-weight: 700;
  color: #4F4F4F;
}

.link_danger{
  font-style: italic;
  margin-left: 3px;
  font-size: 14px;
  text-decoration: none;
  color: #dc4c64;
}